
<<<<<<< HEAD
.ifForm{
    width: 100%;
    height: 1500px;          
}



=======
>>>>>>> d86a20d5e512f3b322ffc45dc883596b2a59ee03
body { 
    background-image: url("imagenes/huellas\ perro.png");
    background-repeat:round ;
}



h2{
    color:black
}

.navbar{
    color: #CC1414;
}