{% extends 'core/Base.html' %}
{% load static %}
{% block content %}
<form action="" method="POST" id="crear_usuario" class="blancofondo col-md-12">
    {% csrf_token %}
    <h1> Crear usuario</h1>
    <br>
    <br>
    <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control" name="first_name" id="">
    </div>
    <div class="form-group">
        <label for="">Apellido</label>
        <input type="text" class="form-control" name="last_name" id="">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email" id="">
    </div>
    <div class="form-group">
        <label for="">Usuario</label>
        <input type="text" class="form-control" name="username" id="">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" id="">
    </div>
    <br>
    <button type="submit" class="btn btn-primary col-md-12">Crear</button>
</form>

{% endblock %}