{% extends 'core/Base.html' %}
{% load static %}
{% block content %}
<!-- Carousel -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="{% url 'nosotros' %}" role="button"> <img src="{% static 'imagenes/imagen adopta.jpg' %}" class="d-block w-100" alt="Nosotros" width="1200" height="800" /></a>
                  <div class="carousel-caption d-none d-md-block">
                    <h2>Nosotros</h2>
              </div>
              </div>
              <div class="carousel-item">
                <a href="{% url 'tienda' %}" role="button"> <img src="{% static 'imagenes/imagen perros.jpg' %}" class="d-block w-100" alt="Tienda" width="1200" height="800" /></a>
                <div class="carousel-caption d-none d-md-block">
                  <h2>Tienda</h2>
                  
                </div>
              </div>
              <div class="carousel-item">
                <a href="{% url 'donaciones' %}" role="button"> <img src="{% static 'imagenes/perro donacion.jpg' %}"class="d-block w-100" alt="Donaciones" width="1200" height="800" /></a>
                <div class="carousel-caption d-none d-md-block">
                  <h2>Donaciones</h2>
                  
                </div>
              </div>
              <div class="carousel-item">
                <a href="{% url 'contacto' %}" role="button"> <img src="{% static 'imagenes/perro celular.jpg' %}"class="d-block w-100" alt="Contacto" width="1200" height="800" /></a>
                <div class="carousel-caption d-none d-md-block">
                  <h2>Contacto</h2>
                  
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Atras</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">siguiente</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- se crea un div para cargar pagina-->
<div class="container">
  <div id="Carga">
    {% block contento %}
    {% endblock %}
  </div>
  
</div>

{% endblock %}


